#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 960px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Group_1 {
  position: absolute;
  width: 1282px;
  height: 58px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3AE4B;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 {
  position: absolute;
  width: 1282px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 > .paddingLayer {
  height: 58px;
  width: 1282px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_10 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_10 {
  position: absolute;
  width: 26px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_10 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_10 > svg {
  height: 23px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 {
  position: absolute;
  width: 29px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 > .paddingLayer {
  height: 21px;
  width: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 {
  position: absolute;
  width: 29px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 > .paddingLayer {
  height: 3px;
  width: 29px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_11 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_11 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_11 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_11 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 {
  position: absolute;
  width: 478px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Nunito Sans Black',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 > .paddingLayer {
  height: 51px;
  width: 478px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 span {
  color: #FFE26F;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito Sans Black',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FFE26F;
  text-align: center;
  text-decoration: none;
  font-family: 'Nunito Sans Black',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 900;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 16.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 16.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Group_2 {
  position: absolute;
  width: 26px;
  height: 719px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 {
  position: absolute;
  width: 21px;
  height: 712px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 > .paddingLayer {
  height: 712px;
  width: 21px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_12 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_12 {
  position: absolute;
  width: 26px;
  height: 714px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_12 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_12 > svg {
  height: 714px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_13 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_13 {
  position: absolute;
  width: 26px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_13 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_13 > svg {
  height: 25px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_14 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_14 {
  position: absolute;
  width: 26px;
  height: 25px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_14 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_14 > svg {
  height: 25px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Group_3 {
  position: absolute;
  width: 26px;
  height: 640px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_15 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_15 {
  position: absolute;
  width: 26px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_15 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_15 > svg {
  height: 5px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_16 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_16 {
  position: absolute;
  width: 26px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_16 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_16 > svg {
  height: 5px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_17 > svg {
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_17 {
  position: absolute;
  width: 26px;
  height: 253px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_17 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_17 > svg {
  height: 253px;
  width: 26px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Line_3 marker {
  fill: #404040;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 821px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Line_3 {
  width: 821px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #404040;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 24.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 16.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 {
  position: absolute;
  width: 213px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 13.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 > .paddingLayer {
  height: 102px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 span#rtr-s-Rectangle_15_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 > .shapert-clipping {
  width: 60px;
  height: 50px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 .content {
  text-shadow: none;
  width: 60px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 {
  position: absolute;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_7 {
  width: 60px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_7 span#rtr-s-Triangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 {
  position: absolute;
  width: 213px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 13.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 > .paddingLayer {
  height: 102px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 span#rtr-s-Rectangle_16_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 > .shapert-clipping {
  width: 60px;
  height: 50px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 .content {
  text-shadow: none;
  width: 60px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 {
  position: absolute;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_8 {
  width: 60px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_8 span#rtr-s-Triangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 {
  position: absolute;
  width: 213px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 13.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 > .paddingLayer {
  height: 102px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 span#rtr-s-Rectangle_17_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 > .shapert-clipping {
  width: 60px;
  height: 50px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 .content {
  text-shadow: none;
  width: 60px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 {
  position: absolute;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_9 {
  width: 60px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_9 span#rtr-s-Triangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 {
  position: absolute;
  width: 213px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 13.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 > .paddingLayer {
  height: 102px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 span#rtr-s-Rectangle_18_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 > .shapert-clipping {
  width: 60px;
  height: 50px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 .content {
  text-shadow: none;
  width: 60px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 {
  position: absolute;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_10 {
  width: 60px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_10 span#rtr-s-Triangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 {
  position: absolute;
  width: 213px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 13.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 > .paddingLayer {
  height: 102px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 span#rtr-s-Rectangle_19_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 > .shapert-clipping {
  width: 60px;
  height: 50px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 .content {
  text-shadow: none;
  width: 60px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 {
  position: absolute;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_11 {
  width: 60px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_11 span#rtr-s-Triangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 {
  position: absolute;
  width: 213px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 13.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 > .clipping, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 > .paddingLayer {
  height: 102px;
  width: 213px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 span#rtr-s-Rectangle_20_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 > .shapert-clipping {
  width: 60px;
  height: 50px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 .content {
  text-shadow: none;
  width: 60px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 {
  position: absolute;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_12 {
  width: 60px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Triangle_12 span#rtr-s-Triangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_18 {
  position: absolute;
  width: 568px;
  height: 738px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_18 > img, #s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_18 > svg {
  height: 738px;
  width: 568px;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Line_4 marker {
  fill: #000000;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 713px;
  height: 2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Line_4 {
  width: 713px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #000000;
  box-shadow: none;
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}