#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_14 {
  -ms-transform: rotate(180.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Line_3 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_7 {
  -ms-transform: rotate(90.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_8 {
  -ms-transform: rotate(270.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_9 {
  -ms-transform: rotate(270.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_10 {
  -ms-transform: rotate(270.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_11 {
  -ms-transform: rotate(90.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Triangle_12 {
  -ms-transform: rotate(270.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Line_4 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 #s-Line_4 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(90.0deg);
}
#s-1b9e1b88-552f-4fb4-8cb6-f625f1c40e14 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}