#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27ce50ec-8fa2-4e1f-a456-263f192b2c9e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}