#s-2aa132dc-dd92-4e43-835d-1afee0a251eb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 960px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-BarraNav {
  position: absolute;
  width: 1200px;
  height: 68px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_1 > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_1 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_1 > svg {
  height: 23px;
  width: 24px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 {
  position: absolute;
  width: 27px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 > .paddingLayer {
  height: 21px;
  width: 23px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 {
  position: absolute;
  width: 27px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 > .paddingLayer {
  height: 3px;
  width: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_2 > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_2 {
  position: absolute;
  width: 68px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_2 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_2 > svg {
  height: 68px;
  width: 68px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 {
  position: absolute;
  width: 444px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 > .paddingLayer {
  height: 51px;
  width: 444px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Category_1 {
  position: absolute;
  width: 180px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Category_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Category_1 > .paddingLayer {
  height: 20px;
  width: 180px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-verticalBar {
  position: absolute;
  width: 1280px;
  height: 760px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 {
  position: absolute;
  width: 977px;
  height: 750px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 > .paddingLayer {
  height: 750px;
  width: 977px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-box > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-box {
  position: absolute;
  width: 985px;
  height: 760px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-box > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-box > svg {
  height: 760px;
  width: 985px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content {
  position: absolute;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_1 {
  width: 985px;
  height: 760px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 985px;
  height: 760px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_1 .verticalalign {
  vertical-align: middle;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_3 {
  position: absolute;
  width: 781px;
  height: 335px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_3 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_3 > svg {
  height: 335px;
  width: 781px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_8 {
  position: absolute;
  width: 522px;
  height: 395px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_8 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_8 > svg {
  height: 395px;
  width: 522px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_2 {
  width: 984px;
  height: 766px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 984px;
  height: 766px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_2 .verticalalign {
  vertical-align: middle;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_9 {
  position: absolute;
  width: 781px;
  height: 335px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_9 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_9 > svg {
  height: 335px;
  width: 781px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_10 {
  position: absolute;
  width: 522px;
  height: 395px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_10 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_10 > svg {
  height: 395px;
  width: 522px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_3 {
  width: 982px;
  height: 754px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 982px;
  height: 754px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_3 .verticalalign {
  vertical-align: middle;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_11 {
  position: absolute;
  width: 781px;
  height: 335px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_11 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_11 > svg {
  height: 335px;
  width: 781px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_12 {
  position: absolute;
  width: 522px;
  height: 395px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_12 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_12 > svg {
  height: 395px;
  width: 522px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_4 {
  width: 976px;
  height: 750px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_4 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 976px;
  height: 750px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-content_4 .verticalalign {
  vertical-align: middle;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_13 {
  position: absolute;
  width: 781px;
  height: 335px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_13 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_13 > svg {
  height: 335px;
  width: 781px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_14 {
  position: absolute;
  width: 522px;
  height: 395px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_14 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_14 > svg {
  height: 395px;
  width: 522px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Tab4 {
  position: absolute;
  width: 299px;
  height: 103px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_7 > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_7 {
  position: absolute;
  width: 299px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_7 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_7 > svg {
  height: 103px;
  width: 299px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 {
  position: absolute;
  width: 295px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 > .paddingLayer {
  height: 100px;
  width: 275px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Tab3 {
  position: absolute;
  width: 299px;
  height: 103px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_6 > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_6 {
  position: absolute;
  width: 299px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_6 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_6 > svg {
  height: 103px;
  width: 299px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 {
  position: absolute;
  width: 295px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 > .paddingLayer {
  height: 100px;
  width: 275px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Tab2 {
  position: absolute;
  width: 299px;
  height: 103px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_5 > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_5 {
  position: absolute;
  width: 299px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_5 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_5 > svg {
  height: 103px;
  width: 299px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 {
  position: absolute;
  width: 295px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 > .paddingLayer {
  height: 100px;
  width: 275px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Tab1 {
  position: absolute;
  width: 299px;
  height: 103px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_4 > svg {
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_4 {
  position: absolute;
  width: 299px;
  height: 103px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_4 > img, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Image_4 > svg {
  height: 103px;
  width: 299px;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 {
  position: absolute;
  width: 295px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 > .paddingLayer {
  height: 100px;
  width: 275px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 20px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 > .clipping, #s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2aa132dc-dd92-4e43-835d-1afee0a251eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}