#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 45px;
  width: 117px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 45px;
  width: 117px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 45px;
  width: 117px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 45px;
  width: 117px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 45px;
  width: 117px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}