#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 960px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Group_1 {
  position: absolute;
  width: 764px;
  height: 51px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_1 > svg {
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_1 > img, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_1 > svg {
  height: 23px;
  width: 24px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 {
  position: absolute;
  width: 27px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 > .paddingLayer {
  height: 21px;
  width: 23px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 {
  position: absolute;
  width: 27px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 > .paddingLayer {
  height: 3px;
  width: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Group_2 {
  position: absolute;
  width: 350px;
  height: 116px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_3 {
  position: absolute;
  width: 119px;
  height: 116px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_3 > img, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_3 > svg {
  height: 116px;
  width: 119px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 26.0pt;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Group_3 {
  position: absolute;
  width: 561px;
  height: 56px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 {
  position: absolute;
  width: 127px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 > .paddingLayer {
  height: 45px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 span#rtr-s-Button_1_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_1 span#rtr-s-Button_1_2 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 {
  position: absolute;
  width: 127px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 > .paddingLayer {
  height: 45px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 {
  position: absolute;
  width: 127px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 > .paddingLayer {
  height: 45px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 {
  position: absolute;
  width: 127px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 > .paddingLayer {
  height: 45px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_5 span#rtr-s-Button_5_1 {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 26.0pt;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_4 {
  position: absolute;
  width: 249px;
  height: 249px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_4 > img, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_4 > svg {
  height: 249px;
  width: 249px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_2 {
  position: absolute;
  width: 1167px;
  height: 431px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_2 > img, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_2 > svg {
  height: 431px;
  width: 1167px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_5 {
  position: absolute;
  width: 1169px;
  height: 425px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_5 > img, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Image_5 > svg {
  height: 425px;
  width: 1169px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #shapewrapper-s-Line_2 marker {
  fill: #404040;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 1175px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Line_2 {
  width: 1175px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #404040;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Input_1 > input {
  left: 0px;
  top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Input_1 {
  position: absolute;
  cursor: pointer;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 {
  position: absolute;
  width: 127px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 > .clipping, #s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 > .paddingLayer {
  height: 45px;
  width: 117px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3dd6457f-437e-4bcb-9ae6-4faec57305d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}