#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f4299ed-79c2-46d5-ab20-347395d7907b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}