#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4863c0c4-7e81-43a4-9307-a9f3353f3002 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}