#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7d297ce8-1e7b-4518-a107-4e8c241b5e40 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}