#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 70px;
  width: 128px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  height: 70px;
  width: 126px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_8-options {
  background-color: #FFFFFF;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_9-options {
  background-color: #FFFFFF;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_10-options {
  background-color: #FFFFFF;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}