#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 960px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Group_1 {
  position: absolute;
  width: 1200px;
  height: 68px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_5 > svg {
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_5 {
  position: absolute;
  width: 24px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_5 > img, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_5 > svg {
  height: 23px;
  width: 24px;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 {
  position: absolute;
  width: 27px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 > .paddingLayer {
  height: 21px;
  width: 23px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 {
  position: absolute;
  width: 27px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 > .paddingLayer {
  height: 3px;
  width: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_6 > svg {
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_6 {
  position: absolute;
  width: 68px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_6 > img, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_6 > svg {
  height: 68px;
  width: 68px;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 {
  position: absolute;
  width: 444px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 > .paddingLayer {
  height: 51px;
  width: 444px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_7 {
  position: absolute;
  width: 539px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_7 > img, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_7 > svg {
  height: 59px;
  width: 539px;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 {
  position: absolute;
  width: 129px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 > .paddingLayer {
  height: 50px;
  width: 129px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_3 {
  position: absolute;
  width: 325px;
  height: 278px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_3 > .scroll {
  height: 276px;
  width: 318px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 1px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 {
  position: absolute;
  width: 144px;
  height: 86px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 > .paddingLayer {
  height: 70px;
  width: 128px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 {
  position: absolute;
  width: 142px;
  height: 86px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 > .paddingLayer {
  height: 70px;
  width: 126px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_7 {
  position: absolute;
  width: 325px;
  height: 277px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_7 > .scroll {
  height: 275px;
  width: 318px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 1px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 {
  position: absolute;
  width: 236px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 > .paddingLayer {
  height: 50px;
  width: 236px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_8 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_8 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_8 {
  position: absolute;
  width: 124px;
  height: 50px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_8 > .paddingLayer {
  height: 48px;
  width: 117px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 {
  position: absolute;
  width: 117px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 > .paddingLayer {
  height: 50px;
  width: 117px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 {
  position: absolute;
  width: 106px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 > .paddingLayer {
  height: 50px;
  width: 106px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 {
  position: absolute;
  width: 123px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 > .clipping, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 > .paddingLayer {
  height: 50px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_9 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_9 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_9 {
  position: absolute;
  width: 124px;
  height: 50px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_9 > .paddingLayer {
  height: 48px;
  width: 117px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_10 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_10 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_10 {
  position: absolute;
  width: 124px;
  height: 50px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_10 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Category_10 > .paddingLayer {
  height: 48px;
  width: 117px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_8 {
  position: absolute;
  width: 916px;
  height: 374px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_8 > img, #s-93320ee4-67ae-44db-ac94-b5ad84ff0015 #s-Image_8 > svg {
  height: 374px;
  width: 916px;
  box-shadow: none;
}
#s-93320ee4-67ae-44db-ac94-b5ad84ff0015 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}