#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f2398ba-38d3-4c66-8ca3-bf16fcbe489a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}