#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}