#s-aac07431-13e7-4a54-8b65-b2417e4b29be > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 960px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-BarraNav {
  position: absolute;
  width: 1200px;
  height: 68px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_1 > svg {
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_1 > img, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_1 > svg {
  height: 23px;
  width: 24px;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 {
  position: absolute;
  width: 27px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 > .paddingLayer {
  height: 21px;
  width: 23px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 {
  position: absolute;
  width: 27px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 > .paddingLayer {
  height: 3px;
  width: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_2 > svg {
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_2 {
  position: absolute;
  width: 68px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_2 > img, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Image_2 > svg {
  height: 68px;
  width: 68px;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 {
  position: absolute;
  width: 444px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 > .paddingLayer {
  height: 51px;
  width: 444px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Group_1 {
  position: absolute;
  width: 763px;
  height: 395px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 {
  position: absolute;
  width: calc(214px - 71px);
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-right: 70px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 > .paddingLayer {
  height: 27px;
  width: calc(207px - 71px);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 > .icon, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Input_1 > .file-input {
  right: -71px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 {
  position: absolute;
  width: 485px;
  height: 194px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 67px;
  font-size: 35.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 > .paddingLayer {
  height: 194px;
  width: 485px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Category_1 {
  position: absolute;
  width: 180px;
  height: 83px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Category_1 > .scroll {
  height: 81px;
  width: 173px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  margin-right: 1px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 {
  position: absolute;
  width: 121px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 > .paddingLayer {
  height: 41px;
  width: 111px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  box-shadow: none;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 {
  position: absolute;
  width: 121px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 > .clipping, #s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 > .paddingLayer {
  height: 41px;
  width: 111px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-aac07431-13e7-4a54-8b65-b2417e4b29be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}