#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c3a1071d-85b9-49d0-bb57-589a88453042 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}