#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cee7eec0-b23c-45e7-a8bc-07cadb07be94 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}