#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 960px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-BarraNav {
  position: absolute;
  width: 1200px;
  height: 68px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_1 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_1 {
  position: absolute;
  width: 24px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_1 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_1 > svg {
  height: 23px;
  width: 24px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 {
  position: absolute;
  width: 27px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 > .paddingLayer {
  height: 21px;
  width: 23px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 {
  position: absolute;
  width: 27px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 > .paddingLayer {
  height: 3px;
  width: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_2 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_2 {
  position: absolute;
  width: 68px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_2 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_2 > svg {
  height: 68px;
  width: 68px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 {
  position: absolute;
  width: 444px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 > .paddingLayer {
  height: 51px;
  width: 444px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-tabsBar {
  position: absolute;
  width: 1106px;
  height: 723px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 {
  position: absolute;
  width: 1097px;
  height: 674px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 > .paddingLayer {
  height: 674px;
  width: 1097px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-box > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-box {
  position: absolute;
  width: 1106px;
  height: 683px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-box > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-box > svg {
  height: 683px;
  width: 1106px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content {
  position: absolute;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_1 {
  width: 1106px;
  height: 683px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1106px;
  height: 683px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_1 .verticalalign {
  vertical-align: middle;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_3 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_1 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_1 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_1 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_1 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_4 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_2 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_2 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_2 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_2 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_2 {
  width: 1100px;
  height: 678px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1100px;
  height: 678px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_2 .verticalalign {
  vertical-align: middle;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_5 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_3 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_3 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_3 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_3 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_3 {
  width: 1103px;
  height: 676px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1103px;
  height: 676px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-content_3 .verticalalign {
  vertical-align: middle;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_6 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_4 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_4 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_4 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_4 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_7 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_5 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_5 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_5 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_5 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_8 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_6 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_6 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_6 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_6 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_9 {
  position: absolute;
  width: 153px;
  height: 153px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 {
  position: absolute;
  width: 149px;
  height: 149px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 > .paddingLayer {
  height: 149px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_7 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_7 {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_7 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_7 > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Tab_3 {
  position: absolute;
  width: 309px;
  height: 42px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_19 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_19 {
  position: absolute;
  width: 309px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_19 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_19 > svg {
  height: 42px;
  width: 309px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 {
  position: absolute;
  width: 305px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 > .paddingLayer {
  height: 40px;
  width: 285px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Tab_2 {
  position: absolute;
  width: 309px;
  height: 42px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_18 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_18 {
  position: absolute;
  width: 309px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_18 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_18 > svg {
  height: 42px;
  width: 309px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 {
  position: absolute;
  width: 305px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 > .paddingLayer {
  height: 40px;
  width: 285px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-tab_1 {
  position: absolute;
  width: 309px;
  height: 42px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_17 > svg {
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_17 {
  position: absolute;
  width: 309px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_17 > img, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_17 > svg {
  height: 42px;
  width: 309px;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 {
  position: absolute;
  width: 305px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 > .clipping, #s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 > .paddingLayer {
  height: 40px;
  width: 285px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}