#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-box {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_1 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_2 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_3 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_4 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_5 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_6 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Space_7 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-da8e4571-2eb0-4e83-96ef-e7442c584f7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}