#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa8b49d1-ea19-4775-b4a9-ed8bd134127c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}