@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.ttf');
      font-weight: normal;
      font-style: normal;
    }
}

@include font('Montserrat', '../assets/fonts/Montserrat-Black');

h1 {
  text-align: center;
}

.custom-font {
    font-family: Montserrat;
}

#alert{
  height: 40px;
  font-size: 6;
  border-radius: 12px;
}

img {
  display: block;
  margin-left: -20%;
  margin-right: auto;
}

.texto {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.centerBtn {
  margin: auto;
  width: 15%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
  
.form-signin .form-control:focus {
  z-index: 2;
}
  
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.info-dialog-title-background {
  background-color: rgb(223, 149, 58);
}
